/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.game-container{
    border:3px solid red;
    width:400px;
    height:400px;
    margin:0 auto;
    margin-top:200px;
    background-image: url("/images/board.png");
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-container:hover{
    cursor: pointer;
}

.red{
    background-image: url(/images/red.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.yellow{
    background-image: url(/images/yellow.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.results,.scores{
    border:3px solid red;
    width:400px;
    height:100px;
    margin:0 auto;

}

.scores{
display: flex;
justify-content: flex-end;

}

